/* title ledend */
.title-champions{
    text-align: center;
    font-size: 35px;
    color: #5D6D7E;
    text-transform: capitalize;
    max-width: 90%;
    background-color: #EAECEE;
    margin: auto;
    padding-top: 10px;
}
/* end title legend */
/* legend-page */
.champions-page{
    width: 100%;
    max-width: 90%;
    margin: auto;
    padding: 30px 100px;
    background-color: #EAECEE;
}
/* end legend-page */
/* top champions */
.top-champions{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 25px;
    margin-top: 20px;
}
.top-champions img{
    width: 80%;
}
.top-champions .top-champions-content{
    width: 100%;
    height: 530px;
    background-color: #B2BABB;
    padding: 15px;
    border-radius: 6px;
    box-shadow: 2px 0px 5px #283747;
    transition: all 0.3s linear;
} 
.top-champions .top-champions-content img{
    width: 100%;
    border-radius: 6px;
}
.top-champions .top-champions-content h2{
    font-size: 24px;
    text-transform: capitalize;
    margin-top: 10px;
    color: #5D6D7E;
    text-align: center;
}
.top-champions .top-champions-content .discription{
    color:#5D6D7E;
    font-size: 14px;
    text-align: justify;
    margin-top: 10px;
    margin-bottom: 15px;
}
/* end top champions */
/* responsine */
@media (max-width: 1500px){
    .top-champions{
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (max-width: 1280px){
    .top-champions{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 992px){
    .top-champions{
        grid-template-columns: repeat(1, 1fr);
    }
}
@media (max-width: 768px){
    .champions-page{
        max-width: 100%;
    }
    .title-champions{
        max-width: 100%;
    }
    .top-champions .top-champions-content{
        height: 510px;
    }
}
@media (max-width: 600px){
    .champions-page{
        padding: 20px 50px;
    }
    .top-champions .top-champions-content{
        height: 520px;
    }
}